<!DOCTYPE html>
<html lang="en">
<head>
{% block head -s%}     
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css')}}"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}"/>
{% endblock %}
</head>
<body>
{% block content -%}  
         {%- block mainmenu -%}  
<ul class="mainmenu">
    {% for m in menu %}
<li><a href="{{m.url}}">{{m.name}}</a></li>
    {% endfor %}
</ul>
    {%- endblock mainmenu -%}  
	<h1>Welcome to my homepage!</h1>    
	<img src="{{url_for('static', filename='images/foto.jpg')}}"
         title="foto"
         width="300"
         />
{% endblock -%}
 </body>
 </html>     